@import '../styles/variables.scss';

.nav {
   display: flex;
   position: fixed;
   width: 100%;
   z-index: 3;
   &__items {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      background-color: rgb(226, 239, 245);
      opacity: 1;
      visibility: visible;
   }
   &__item {
      padding: 1rem 0;
   }
   &__link {
      color:rgb(51, 51, 51);
   }
}

.mobile-controls {
   padding: 1rem 1rem;
   display: none;
}

.burger {
  display: inline-block;
  cursor: pointer;
}

.burger__row {
  width: 35px;
  height: 5px;
  background-color: rgb(51, 51, 51);
  margin: 6px 0;
  transition: 0.4s;
}

.nav_opened .burger__row:first-child {
   -webkit-transform: rotate(-45deg) translate(-9px, 6px);
   transform: rotate(-45deg) translate(-9px, 6px);
 }

.nav_opened .burger__row_two {opacity: 0;}

.nav_opened .burger__row:last-child{
   -webkit-transform: rotate(45deg) translate(-8px, -8px);
   transform: rotate(45deg) translate(-8px, -8px);
 }

@media (max-width: 454px) {
   .mobile-controls {
     display: flex;
   }
   .nav {
      &__items {
         visibility: hidden;
         transform: scaleY(0);
         position: absolute;
         top: 70px;
         left: 0;
         display: block;
         background-color: rgba(226, 239, 245, 0.85);
         padding: 0 34px;
         height: calc(100vh - 70px);
         transform-origin: top center;
      }
      &__link {
         padding: 1rem 0;
         border-bottom: 1px solid rgb(14, 12, 12);
         width: 100%;
      }
   }
   .nav_opened > .nav__items {
      visibility: visible;
      transform: scaleY(1);
   }
   .nav_opened .nav__item {
      opacity: 1;
    }
}