.nav {
   display: flex;
   width: 100%;
   &__items {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      background-color: rgb(226, 239, 245);
   }
   &__item {
      padding: 1rem 0;
   }
}

// // mixins

// @mixin mq($size) {
//    @media only screen and (min-width: $size) {
//      @content;
//    }
//  }
 
// //  // placeholders
// //  %list-style--nav {
// //    list-style-type: none;
// //    margin: 0;
// //    border: 0;
// //    padding: 0;
// //  }
 
// //  %clearfix {
// //      zoom:1;
// //      &:before, &:after {
// //          content: "\0020";
// //          display: block;
// //          height: 0;
// //          overflow: hidden;
// //      }
// //      &:after {
// //          clear: both;
// //      }
// //  }
 
// //  // variables
//  $color-primary: #40C9CC;
//  $color-secondary: #0D4662;
//  $white: #fff;
//  $sm: 15em; // redundant?
//  $lg: 32em;
 
// //  .btn {
// //    border: 0;
// //    border-radius: 2px;
// //    padding: 0.5em;
// //    background-color: $white;
// //    color: $color-primary;
// //  }
 
//  // navbar with clear fix, on large screens li items are inline
//  .nav {
//    display: none;
//    @extend %clearfix;
//    @include mq($lg) {
//      display: block;
//    }
//    & > ul {
//      @extend %list-style--nav;
//    }
//    &--top {
//    padding: 1em;
//     a {
//      color: $color-secondary;
//      text-decoration: none;
//      }
//      li {
//        margin: 1em;
//      }
//      @include mq($lg) {
//        li {
//        display: inline;
//        margin: 0 1em 0 0;
//          &:last-child {
//            // prevents margin on last child
//            margin: 0;
//          }
//        }
//      }
//    }
//  }
//  .toggle {
//    background-color: darken($color-primary, 30%);
//    color: $color-primary;
//    @extend .btn;
//    &:hover {
//      color: $white;
//    }
//  }
 
//  .active {
//    display: block;
//  }
 
//  // position .toggle on far right
//  .toggle {
//    position: absolute;
//    right: 0.5em;
//    top: 0.5em;
//  }
 
//  // hide toggle on larger screens
//  @include mq($lg) {
//    .toggle {
//      display: none;
//    }
//  }
 
//  .gradient {
//    background-image: radial-gradient(farthest-corner at 45px 45px , $color-primary 0%, #31CC9A 100%);
//  }
 
//  .jumbotron {
//    padding: 5em 1em;
//    h1, p {
//      color: $white;
//    }
//    h1 {
//      margin: 0;
//    }
//  }